<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/libraries :: head (~{::title},~{::link})}">
    <title>Dashboard</title>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<div class="wrapper">
    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

    <div class="content-wrapper">
        <div th:replace="~{fragments/header :: header('Exercises')}"></div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <table id="list" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Exercise name</th>
                                <th>Tags</th>
                                <th>Author</th>
                                <th>Latest Edit</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="e : ${exercises}" class="list-element" th:attr="data-element-id=${e.getId()}">
                                <td>
                                    <a th:href="@{/dashboard/exercises/show/{id}(id=${e.getId()})}" th:text="${e.getName()}">
                                        Exercise name
                                    </a>
                                </td>
                                <td>
                                    <span class="badge bg-primary mr-1" th:each="t : ${e.getTags()}" th:text="${t}"></span>
                                </td>
                                <td th:with="a=${e.getAuthor()}">
                                    <a th:href="@{/dashboard/users/show/{id}(id=${a.getId()})}" >
                                        <img class="list-element-author-icon" th:src="${a.getPicture()}" alt="" height="16px">
                                        <span th:text="${a.getUsername()}">Author</span>
                                    </a>
                                </td>
                                <td th:text="${#dates.format(e.getLastModified(), 'yyyy-MM-dd hh:mm')}">Latest Edit</td>
                                <td class="text-right py-0 align-middle">
                                    <div class="btn-group btn-group-sm">
                                        <a th:href="@{/dashboard/exercises/show/{id}(id=${e.getId()})}" class="btn btn-primary w-100"><i class="fas fa-eye"></i></a>
                                        <a th:href="@{/dashboard/exercises/edit/{id}(id=${e.getId()})}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                        <!--<a th:href="@{/dashboard/exercises/delete/{id}(id=${e.getId()})}" class="btn btn-danger"><i class="fas fa-trash"></i></a>-->
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!--end::App Main-->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
<!--end::App Wrapper-->
<th:block th:replace="~{fragments/libraries :: body}"></th:block>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

<!-- Page specific script -->
<script>
    $(function () {
        $("#list").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
<!--end::Body-->
</html>
