<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/libraries :: head (~{::title},~{::link})}">
    <title>Create Exercise Generator - Teachly</title>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<div class="wrapper" id="#swup">
    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

    <div class="content-wrapper">
        <div th:replace="~{fragments/header :: header('Edit Exercise Generator')}"></div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid  pb-3">
                <form th:action="'/api/v1/exercises/generators/'+${generator.id}" method="put" id="create-form">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-industry mr-2"></i>
                                        Exercise Generator
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div th:replace="~{fragments/create :: create-name}"></div>
                                            <div th:replace="~{fragments/create :: create-tags}"></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div th:replace="~{fragments/create :: create-description (5)}"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div th:replace="~{fragments/code :: codeCard (${blocklyCode})}"></div>
                    </div>
                    <div th:replace="~{fragments/create :: create-submit-button}"></div>
                </form>
            </div>
        </section>
        <!-- /.content -->
        <th:block th:replace="~{fragments/code :: libraries ('exercises/generators')}"></th:block>
        <script th:src="@{/js/common/create.js}"></script>
        <script th:src="@{/js/exercises/generators/create.js}"></script>
    </div>
    <!-- /.content-wrapper -->
</div>
<!--end::App Main-->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!--end::App Wrapper-->
<th:block th:replace="~{fragments/libraries :: body}"></th:block>
<script th:replace="~{fragments/create :: clone-values (${generator})}"></script>
</body>
<!--end::Body-->
</html>
