<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/libraries :: head (~{::title},~{})}">
    <title>Exercise Generator - Teachly</title>
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<div class="wrapper" id="#swup">
    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

    <div class="content-wrapper">
        <div th:replace="~{fragments/header :: header ('Exercise Generator')}"></div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary card-outline" th:fragment="card (generator)" th:with="e=${generator}" th:id="'generator-'+${generator.getId()}">
                            <!-- card-header -->
                            <div class="card-header d-flex">
                                <h3 class="card-title">
                                    <th:block th:fragment="card-title (generator)">
                                        <i th:if="${generator.getType().toString()} == 'OPEN_QUESTION'"
                                           class="fas fa-comment-dots mr-2"></i>
                                        <i th:if="${generator.getType().toString()} == 'MULTIPLE_CHOICE'"
                                           class="fas fa-th-list mr-2"></i>
                                        <i th:if="${generator.getType().toString()} == 'TRUE_FALSE'"
                                           class="fas fa-check-double mr-2"></i>
                                        <span th:text="${generator.getName()}">Generator Name</span>
                                    </th:block>
                                </h3>
                                <div class="ml-auto">
                                    by
                                    <a th:replace="~{fragments/show :: author (${generator})}"></a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <!-- card-body -->
                            <div class="card-body" th:fragment="card-body (generator)">
                                <dl class="row mb-0">
                                    <th:block th:replace="~{fragments/show :: description (${generator})}"></th:block>
                                    <th:block th:replace="~{fragments/show :: tags (${generator})}"></th:block>
                                </dl>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-body row" th:fragment="card-body (e)" id="generation">
                                <div class="col-sm-6 d-flex flex-wrap">
                                    <div class="d-flex align-items-center mr-3">
                                        <i class="fas fa-industry text-primary mr-1"></i>
                                        <strong class="mr-1">Last generation:</strong>
                                        <span th:text="${generator.getLastGeneration()==null?' / ':#dates.format(generator.getLastGeneration(), 'yyyy-MM-dd hh:mm')}" id="last-generation"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="btn-group btn-group-sm float-right">
                                        <a href="#" class="btn btn-success"
                                           data-toggle="tooltip" title="Generate" data-placement="top"
                                        >Generate Exercises</a>
                                    </div>
                                </div>
                                <dd class="col-12 mt-2" id="exercises">
                                    <th:block th:if="${generatedExercises.size() == 0}">
                                        <span>No exercises found</span>
                                    </th:block>
                                    <div th:unless="${generatedExercises.size() == 0}" class="card card-primary" th:each="exercise : ${generatedExercises}">
                                        <div class="card-header">
                                            <h4 class="card-title w-100">
                                                <a class="d-block w-100 collapsed" data-toggle="collapse" th:href="${'#exercise-' + exercise.getId()}"
                                                   aria-expanded="false" th:insert="~{dashboard/exercises/show :: card-title (${exercise})}"></a>
                                            </h4>
                                        </div>
                                        <div th:id="'exercise-'+${exercise.getId()}" class="collapse" th:attr="data-parent='#generator-'+${generator.getId()}"
                                             th:insert="~{dashboard/exercises/show :: card-body (${exercise})}">
                                        </div>
                                    </div>
                                </dd>
                                <div th:replace="~{fragments/code :: codeCard (${generator.getBlocklyJsonCode()})}"></div>
                            </div>
                            <div th:replace="~{fragments/show :: card-footer (${generator}, 'exercises/generators')}" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
        <th:block th:replace="~{fragments/code :: libraries ('exercises/generators')}"></th:block>
        <script th:src="@{/js/common/show.js}"></script>
        <script th:src="@{/js/exercises/show.js}"></script>
    </div>
    <!-- /.content-wrapper -->
</div>
<!--end::App Main-->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!--end::App Wrapper-->
<th:block th:replace="~{fragments/libraries :: body}"></th:block>
</body>
<!--end::Body-->
</html>
