<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="main-footer d-flex">
    <div class="flex-grow-1">
        <strong>&copy; 2024-2025 <a th:href="@{/}">Teachly</a></strong> by <i>Kevin Delugan</i>.
    </div>

    <div>
        <nav>
            <a th:href="@{/privacy}">Privacy Policy</a> |
            <a th:href="@{/cookies}" >Cookie Policy</a> |
            <a th:href="@{/tos}">Terms and Conditions</a> |
            <a href="https://opensource.org/licenses/MIT" target="_blank">License</a>
        </nav>
    </div>
    <div class="flex-shrink-1 ml-md-3">
        <nav>
            <a href="https://github.com/BisUmTo/Teachly" target="_blank"><i class="fab fa-github"></i></a>
            <a th:href="@{/docs}" target="_blank">
                <img width="16px" th:src="@{/img/svg/swagger.svg}" style="filter: invert(30%) sepia(93%) saturate(2280%) hue-rotate(200deg) brightness(102%) contrast(109%); margin-top:-4px;" alt="API" />
            </a>
        </nav>
    </div>
</footer>
</body>
</html>