<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="main-footer d-flex flex-wrap text-center align-content-center justify-content-between">
    <div class="mx-auto">
        &copy; 2024-2025 <strong><a th:href="@{/}">Teachly</a></strong> by <i>Kevin Delugan</i>.
    </div>
    <div class="flex-shrink-0 mx-auto">
        <nav>
            <a href="https://github.com/BisUmTo/Teachly" target="_blank"
               data-toggle="tooltip" data-placement="top" title="Source Code"
            ><i class="fab fa-github"></i></a>
            <a th:href="@{/api}" target="_blank" class="swagger_icon"
               data-toggle="tooltip" data-placement="top" title="Rest API Documentation"
            >
                <img width="16px" th:src="@{/img/svg/swagger.svg}" alt="API" />
            </a>
            <a th:href="@{/docs}" target="_blank"
               data-toggle="tooltip" data-placement="top" title="Java Documentation"
            ><i class="fas fa-scroll" style="font-size: 15px;"></i></a>
        </nav>
    </div>
    <div class="mx-auto">
        <nav>
            <a th:href="@{/privacy}">Privacy Policy</a> |
            <a th:href="@{/cookies}" >Cookie Policy</a> |
            <a th:href="@{/tos}">Terms and Conditions</a> |
            <a href="https://opensource.org/licenses/MIT" target="_blank">License</a>
        </nav>
    </div>

</footer>
</body>
</html>