<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<!--begin::App Content Header-->
<div th:fragment="builder (title, right)" class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

                <h1 class="m-0"> <a data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    <span class="ml-2" th:text="${title}">Starter Page</span>
                </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <th:block th:replace="${right}"></th:block>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!--end::App Content Header-->
<div th:fragment="withCreate (title, item)" th:replace="~{fragments/header :: builder (${title}, ~{:: create})}">
    <div th:fragment="create" class="col-sm-6">
        <a class="btn btn-success btn btn-success create-button btn-s float-right" th:href="@{/dashboard/{item}/create(item=${item})}">
            <i class="fas fa-plus mr-1"></i> new <span th:text="${title}"></span>
        </a>
    </div>
</div>
<div th:fragment="header (title)" th:replace="~{fragments/header :: builder (${title}, ~{})}"></div>
</body>
</html>