<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>
<aside th:fragment="sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/}" class="brand-link border-secondary pt-3 pb-2">
        <img th:src="@{/img/delugan_net.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light" th:text="#{app.name}"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a th:href="@{/dashboard}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/dashboard/lessons}" class="nav-link">
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>Lessons</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/dashboard/triggers}" class="nav-link">
                        <i class="nav-icon fas fa-keyboard"></i>
                        <p>Triggers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/dashboard/exercises}" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>Exercises</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/dashboard/exercises/generators}" class="nav-link">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>
                            Exercise Generator
                            <span class="right badge badge-danger">BETA</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/dashboard/rewards}" class="nav-link">
                        <i class="nav-icon fas fa-gem"></i>
                        <p>Rewards</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/dashboard/users}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Community</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-auto pt-2 pb-3 d-flex border-secondary border-top">
            <div class="image">
                <img th:src="${me.getPicture()}" class="img-circle elevation-2" alt="User Image" referrerpolicy="no-referrer">
            </div>
            <div class="info w-100" style="display: flex !important;">
                <a th:href="@{/dashboard/profile}" class="d-block" th:text="${me.getUsername()}">Alexander Pierce</a>
                <div class="logout ml-auto">
                    <a th:href="@{/logout}"><i class="nav-icon fas fa-sign-out-alt pr-3"></i></a>
                </div>
            </div>

        </div>

    </div>
    <!-- /.sidebar -->
</aside>
</body>
</html>