<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/libraries :: head (~{::title},~{::link})}">
    <title>Rewards - Teachly</title>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<div class="wrapper" data-barba="wrapper">
    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

    <div class="content-wrapper" data-barba="container">
        <div th:replace="~{fragments/header :: withCreate ('Rewards','rewards')}"></div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <table id="list" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Reward name</th>
                                <th>Author</th>
                                <th>Latest Edit</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:with="item='rewards'" th:each="e : ${rewards}" class="list-element" th:attr="data-element-id=${e.getId()}">
                                <td th:replace="~{fragments/datatable :: name (${item})}"></td>
                                <td th:replace="~{fragments/datatable :: author (${item})}"></td>
                                <td th:replace="~{fragments/datatable :: last_modified (${item})}"></td>
                                <td th:replace="~{fragments/datatable :: buttons(${item})}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!--end::App Main-->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!--end::App Wrapper-->
<th:block th:replace="~{fragments/libraries :: body}"></th:block>
</body>
<!--end::Body-->
</html>
