<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/libraries :: head (~{::title},~{})}">
    <title>Reward - Teachly</title>
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<div class="wrapper" id="#swup">
    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

    <div class="content-wrapper">
        <div th:replace="~{fragments/header :: header ('Reward')}"></div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary card-outline" th:fragment="card (reward)" th:with="e=${reward}" th:id="'reward-'+${reward.getId()}">
                            <!-- card-header -->
                            <div class="card-header d-flex">
                                <h3 class="card-title">
                                    <th:block th:fragment="card-title (reward)">
                                        <i class="fas fa-gem mr-2"></i>
                                        <span th:text="${reward.getName()}"></span>
                                    </th:block>
                                </h3>
                                <div class="ml-auto">
                                    by
                                    <a th:replace="~{fragments/show :: author (${reward})}"></a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <!-- card-body -->
                            <div class="card-body" th:fragment="card-body (reward)">
                                <dl class="row mb-0">
                                    <dt class="col-sm-4 col-md-3">Description</dt>
                                    <dd class="col-sm-8 col-md-9" th:text="${reward.getDescription()}"></dd>
                                    <th:block th:replace="~{fragments/show :: tags (${reward})}"></th:block>
                                    <!-- TODO: Blockly -->
                                    <div id="root"></div>
                                    <script th:src="@{/plugins/blockly/ test_bundle.js}"></script>
                                </dl>
                            </div>
                            <!-- /.card-body -->
                            <div th:replace="~{fragments/show :: card-footer (${reward}, 'rewards')}" ></div>
                        </div>
                        <div class="card card-primary card-outline" id="blocklyCard">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-code mr-2"></i>
                                    Code
                                </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <i class="fas fa-expand"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" id="blocklyArea">
                                <div id="blocklyDiv" th:text="${reward.getBlocklyJsonCode()}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
        <script th:src="@{/plugins/blockly/blockly.min.js}"></script>
        <script th:src="@{/plugins/blockly/workspace-backpack/index.js}"></script>
        <script th:src="@{/js/common/show.js}"></script>
        <script th:src="@{/js/rewards/show.js}"></script>
    </div>
    <!-- /.content-wrapper -->
</div>
<!--end::App Main-->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!--end::App Wrapper-->
<th:block th:replace="~{fragments/libraries :: body}"></th:block>
</body>
<!--end::Body-->
</html>
