.swagger_icon img {
    filter: invert(32%) sepia(91%) saturate(3258%) hue-rotate(201deg) brightness(104%) contrast(104%);
    margin-top:-4px;
}

.swagger_icon:hover img {
    filter: invert(15%) sepia(100%) saturate(7034%) hue-rotate(204deg) brightness(89%) contrast(101%);
}

.list-element-author-icon {
    margin-top: -4px;
}

@font-face {
    font-family: high_summit;
    src: local('High Summit'),
         url('/fonts/High Summit.otf') format('opentype');
}

.brand-text {
    font-family: high_summit, cursive;
}

.create-button, .invite-button {
    text-transform: uppercase;
    white-space: nowrap;
}

/* TAGIFY */
.tagify-input {
    display: inline-flex;
    height: auto;
}

.tagify__tag {
    background: #E5E5E5;
}

.tagify__tag:hover {
    background: #D3E2E2;
}