<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/libraries :: head (~{::title},~{})}">
    <title>Dashboard - Teachly</title>
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<div class="wrapper" id="#swup">
    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

    <div class="content-wrapper">
        <div th:replace="~{fragments/header :: header('Dashboard')}"></div>

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Tutorial (ITA 🇮🇹)</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Watch the video to learn how to use Teachly.</p>
                                <iframe width="100%"  src="https://www.youtube.com/embed/ScMzIvxBSi4"
                                        frameborder="0" id="videoTutorial"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <script>
                                    const videoTutorial = document.getElementById('videoTutorial');
                                    videoTutorial.style.height = videoTutorial.offsetWidth * 0.5625 + 'px';
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">F.A.Q.</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">What is Teachly?</h5>
                                <p class="card-text">Teachly is a platform that allows you to create <a th:href="@{/dashboard/lessons}">lessons</a> by combining
                                    games and <a th:href="@{/dashboard/exercises}">exercises</a>.<br>
                                    You can create your own <a th:href="@{/dashboard/triggers}">triggers</a> (events that trigger the execution of exercises) and
                                    <a th:href="@{/dashboard/rewards}">rewards</a> (rewards that students can earn by completing exercises correctly or wrongly).</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Latest Lessons</h5>
                            </div>
                            <div class="card-body">
                                <p><br>TOFIX<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Community</h5>
                            </div>
                            <div class="card-body">
                                <p><br>TOFIX<br></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!--end::App Main-->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
<!--end::App Wrapper-->
<th:block th:replace="~{fragments/libraries :: body}"></th:block>
</body>
<!--end::Body-->
</html>
