<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/libraries :: head (~{::title},~{})}">
    <title>Login</title>
</head>
<body class="sidebar-collapse layout-top-nav bg-body-tertiary">
<div class="wrapper">
    <main class="content-wrapper">

        <div class="content">
            <div class="container-fluid">
                <div class="row p-3">
                    <div class="col-6">
                        <form th:action="@{/oauth2/authorization/google}" method="get">
                            <button type="submit" class="login-with-google-btn">Login with Google</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <!-- Logo image -->
                    <div class="col-lg-6">
                        <img src="/img/delugan_net.png" alt="Teachly Logo" class="img-fluid w-50 mx-auto">
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<th:block th:replace="~{fragments/libraries :: body}"></th:block>
</body>
<!--end::Body-->
</html>